---
apiVersion: v1
kind: Pod
metadata:
  name: zabbix
spec:
  containers:
    - image: docker.io/zabbix/zabbix-web-nginx-mysql:latest
      name: zabbix-web-nginx
      env:
        - name: DB_SERVER_HOST
          value: 127.0.0.1
        - name: PHP_TZ
          value: Europe/Oslo
        - name: MYSQL_DATABASE
          value: zabbix
        - name: MYSQL_PASSWORD
          value: ${ZABBIX_PASSWORD}
        - name: MYSQL_USER
          value: zabbix
        - name: ZBX_SERVER_HOST
          value: 127.0.0.1
      ports:
        - containerPort: 8080
          hostPort: 8080
          protocol: TCP
    - image: docker.io/library/mysql:5
      name: mysql
      command:
        - docker-entrypoint.sh
        - mysqld
        - --character_set_server=utf8
        - --collation_server=utf8_general_ci
      env:
        - name: MYSQL_DATABASE
          value: zabbix
        - name: MYSQL_PASSWORD
          value: ${ZABBIX_PASSWORD}
        - name: MYSQL_ROOT_PASSWORD
          value: ${ZABBIX_PASSWORD}
        - name: MYSQL_USER
          value: zabbix
      ports:
        - containerPort: 3306
          hostPort: 3306
          protocol: TCP
    - image: docker.io/zabbix/zabbix-server-mysql:latest
      name: zabbix-server
      env:
        - name: DB_SERVER_HOST
          value: 127.0.0.1
        - name: MYSQL_DATABASE
          value: zabbix
        - name: MYSQL_PASSWORD
          value: ${ZABBIX_PASSWORD}
        - name: MYSQL_USER
          value: zabbix
  restartPolicy: Never
